<section class="my-bio bg-secondary bg-gradient">
  <div class="container">
    <div class="row">
      <%= render partial: 'user', locals: { user: @user } %>
    </div>
    <div class="card my-4">
      <%= render partial: 'bio', locals: { user: @user } %>
    </div>
      <%= link_to "Add a new post", new_user_post_path(user_id: @user.id), class: "btn btn-primary"%>
    <% if @posts.any? %>
      <div class="post-list">
        <% @user.recentposts.each do |post| %>
          <%= render partial: 'post', locals: { user: @user, post: post } %>
        <% end %>
        <div class="text-center">
            <%= link_to "See all posts", user_posts_path(@user), class: "btn btn-success" %>
        </div>
      </div>
    <% else %>
      <h2><%= @user.name %> has no posts</h2>
    <% end %>
  </div>
</section>